.nodeText {
  background: #91877b;
  text-shadow: 0 11px 10 rgba(255, 255, 255, 1);
}

.node {
    stroke: #fff;
    stroke-width: 1px;
    stroke-opacity: 0.6;
}
.link {
    stroke: #555;
    stroke-opacity: .9;
}
.linkArc {
  fill: none;
  stroke: #000;
}

.node text {
  font: 9px helvetica;
}

<!-- For the slider -->
.axis {
  font: 5 sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.axis .domain {
  fill: none;
  stroke: #000;
  stroke-opacity: .25;
  stroke-width: 5px;
  stroke-linecap: round;
}

.axis .halo {
  fill: none;
  stroke: #ddd;
  stroke-width: 3px;
  stroke-linecap: round;
}

.slider .handle {
  fill: #666;
  stroke: #000;
  stroke-opacity: .25;
  stroke-width: 1px;
  cursor: crosshair;
}


h3 {
    color: #1ABC9C;
    text-align:center;  
    font-style: italic;
    font-size: 14px;
    font-family: "Helvetica";
}

/* tooltip */
.d3-tip {
  line-height: 1;
  padding: 5px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 8px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}
